.disclaimer {
    padding: 16px 0rem 0rem 0rem;
    display: block;
    font-size: large;
    color: white;
    max-width: 80rem;

    p {
        padding: 8px 0rem 0rem 0rem;
    }

    h3 {
        text-align: center;
    }
}
