@import './styles/base';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  width: 90%;

  @media screen and (min-width: 1200px) {
    width: 70%;
  }
}

.section {
  margin-top: 10rem;
  width: 100%;

  .alignAtOppositeEnds {
    display: flex;
    justify-content: space-between;

    .timeText {
      color: #fff;
      font-size: 2rem;
    }
  }
}

.header {
  display: inline-block;

  font-size: 6rem;
  color: #fff;
  text-align: center;

  margin-top: 10rem;
  padding: 1rem 2rem;

  text-transform: uppercase;
  letter-spacing: 0.75rem;
  font-weight: 200;

  border-bottom: 2px solid rgba(#fff, 0.125);
}

.download {
  width: 20%;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2rem;
  background-color: #ff0000;
  color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid #ff0000;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
  }
}
