@import "./styles/base";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    width: 90%;

    @media screen and (min-width: 1200px) {
        width: 70%;
    }
}

.section {
    margin-top: 10rem;
    width: 80%;

    .alignAtOppositeEnds {
        display: flex;
        justify-content: space-between;

        .timeText {
            color: #fff;
            font-size: 2rem;
        }
    }
}

.header {
    display: inline-block;

    font-size: 6rem;
    color: #fff;
    text-align: center;

    margin-top: 10rem;
    padding: 1rem 2rem;

    text-transform: uppercase;
    letter-spacing: 0.75rem;
    font-weight: 200;

    border-bottom: 2px solid rgba(#fff, 0.125);
}

.preview {
    margin-top: 4rem;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
}

.download {
    width: 20%;

    @media screen and (max-width: 900px) {
        width: 60%;
    }

    text-transform: uppercase;
    font-weight: 700;
    margin: 2rem;
    background-color: #ff0000;
    color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: none;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        transform: translateY(-0.5rem);
    }

    &:disabled {
        background-color: grey;
        color: #000;
    }
}

.disclaimer {
    padding: 16px 0rem 0rem 0rem;
    display: block;
    font-size: large;
    color: white;
    max-width: 80rem;

    p {
        padding: 8px 0rem 0rem 0rem;
    }

    h3 {
        text-align: center;
    }
}

.alert {
    padding: 0.7rem;
    margin: 1rem 1rem;
    background: white;
    border: solid;
    border-radius: 10px;
    color: black;
    font-size: 2rem;
    display: none;
    width: 90%;
    top: 1rem;
}

.active {
    position: fixed;
    z-index: 5;
    display: block;
}
