@import './styles/base';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  width: 90%;

  @media screen and (min-width: 1200px) {
    width: 70%;
  }
}

.section {
  margin-top: 10rem;
  width: 100%;
}

.header {
  display: inline-block;

  font-size: 6rem;
  color: #fff;
  text-align: center;

  margin-top: 10rem;
  padding: 1rem 2rem;

  text-transform: uppercase;
  letter-spacing: 0.75rem;
  font-weight: 200;

  border-bottom: 2px solid rgba(#fff, 0.125);
}
